/* SITE BY ORUJ SHARIFLI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

i {
    pointer-events: none;
}

/* fonts */
@font-face {
    font-family: GilroyMedium;
    src: url(./fonts/Gilroy-Medium.otf) format("opentype");
}

@font-face {
    font-family: GilroySemiBold;
    src: url(./fonts/Gilroy-Semibold.otf) format("opentype");
}

@font-face {
    font-family: GilroyUltraLight;
    src: url(./fonts/Gilroy-UltraLight.otf) format("opentype");
}

/* webkit */
::-webkit-scrollbar {
    width: 7px;
    height: 10px
}

::-webkit-scrollbar-track {
    background: #fff9fc
}

::-webkit-scrollbar-thumb {
    background: #f79c00;
    background: -webkit-linear-gradient(to right, #f68a01, #f79c00);
    background: linear-gradient(to right, #f68a01, #f79c00);
}

/* TEMPLATES */
/* IMAGE AND TEXT DESCRIPTION */
.image-text-description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.image-text-description img {
    height: 370px;
    aspect-ratio: 55/37;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 20px;
    object-fit: cover;
    user-select: none;
}

.texts-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
}

.description-text {
    color: #4e4e4e;
    font-size: 20px;
    font-family: GilroyUltraLight;
    line-height: 190.6%;
    text-align: justify;
    font-weight: bold;
}


/* SECTION TITLES */
.section-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.section-title {
    font-family: GilroySemiBold;
    font-size: 55px;
}

.section-title-secondary {
    font-size: 24px;
}

/* END SECTION TITLES */


/* BUTTON */
.button {
    text-decoration: none;
    padding: 8px 20px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border-radius: 5px;
    user-select: none;
    font-size: 16px;
    background: #f79c00;
    background: -webkit-linear-gradient(to right, #f68a01, #f79c00);
    background: linear-gradient(to right, #f68a01, #f79c00);
    color: #fff;
}

.button:hover {
    background: #e08e00;
}

.button:active {
    position: relative;
    top: 2px;
}

/* END BUTTON */

/* MORE-BTN */
.more-btn {
    color: #4e4e4e !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #f9f9f9 !important;
}

.more-btn:hover {
    background: #f6f6f6 !important;
}

/* END MORE-BTN*/


/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    aspect-ratio: 1/1;
    height: 300px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    background: #fff;
    border-radius: 25px;
    margin: 30px 65px;
}

.card svg {
    width: 69px;
    height: 69px;
    fill: #f79c00;
}

.card-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12.5px;
}

.services-card-title {
    font-size: 20px;
    text-align: center;
    color: #4e4e4e;
}

.services-card-title-secondary {
    font-size: 16px;
    color: #4e4e4e;
    text-align: center;
}

/* END CARDS */






/* return to top speed */
html {
    scroll-behavior: smooth;
}


a, p, label, h1, h2, h4, span {
    font-family: GilroyMedium;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f8f6f4;
}

/* content */
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADER - CONTACT */
.contact-wrapper {
    background: #f2f2f2;
    height: 40px;
}

.contact {
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 82.5%;
}

.mail-and-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 460px;
}

.mail, .phone, .map-address {
    display: flex;
    align-items: center;
}

.fa-envelope, .fa-phone-flip, .fa-location-dot {
    font-size: 16px;
    color: #f79c00;
}

.contact-link {
    color: #4e4e4e;
    margin-left: 7px;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

/* END HEADER - CONTACT */

/* NAVBAR START */
.navbar-wrapper {
    height: 110px;
    background: #fff;
    background-image: url(./img/texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px 5px rgb(0 0 0 / 8%);
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar {
    display: flex;
    align-items: center;
    width: 82.5%;
    justify-content: space-between;
}

.main-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
}

.main-logo {
    user-select: none;
    width: 100%;
}

.navigations {
    display: flex;
}

.navigations a, .navbar-2 a {
    text-decoration: none;
    color: black;
    padding: 5px 12px;
    font-size: 16px;
}

.navigations a:hover {
    background-color: #f79c00;
    color: #fff;
    border-radius: 2px;
    transition: .2s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-family: GilroyMedium;
    font-size: 16px;
    color: #000;
    padding: 5px 12px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.myDropdown {
    display: none;
    position: absolute;
    background: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.myDropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.hamburger-xmark-icon {
    display: none;
}

/* END NAVBAR START */

/* MAIN PART WRAPPER */
/* main part */
.main-part-wrapper {
    height: 650px;
    background-image: url(./img/download\ \(8\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 0 25%;
    border-bottom: 5px solid #f79c00;
    justify-content: space-between !important;
    position: relative;
    flex-direction: row-reverse;
}

.main-part {
    position: absolute;
    inset: 0px;
    gap: 27px;
}

.main-title {
    font-size: 68px;
    color: #fff;
    font-family: GilroySemiBold;
    width: fit-content;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
}

.main-title-child {
    font-size: 70px;
    font-family: GilroySemiBold;
}

.typed-text {
    color: #f79c00;
    font-family: GilroySemiBold;
}

.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

.main-text {
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.main-company-name {
    font-size: 25px;
    color: #fff;
    font-family: GilroySemiBold;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

/* social media */
.social-media {
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 55px;
    position: relative;
    right: 65px;
    user-select: none;
}

.social-media-logo-wrapper {
    aspect-ratio: 1/1;
    height: 35px;
}

.social-media-logo-wrapper:hover {
    transform: scale(1.1);
    transition: .3s;
}

.social-media-logo {
    width: 100%;
    height: 100%;
}

/* END MAIN PART WRAPPER */

/* MAIN SERVICES INFO WRAPPER */
.main-services-info {
    width: 65%;
    padding: 60px 0;
}

.mainservicesinfo-slider {
    width: 100%;
}

.mainservicesinfo-slider .slick-prev::before {
    content: url(./img/prev-button.png);
}

.mainservicesinfo-slider .slick-next::before {
    content: url(./img/next-button.png);
}

.mainservicesinfo-slider .slick-prev {
    width: auto !important;
    height: auto !important;
    left: -45px;
}

.mainservicesinfo-slider .slick-next {
    width: auto !important;
    height: auto !important;
    right: -45px;
}

/* END MAIN SERVICES INFO WRAPPER */

/* PARTNERS WRAPPER */
.partners-wrapper {
    background-image: url(./img/download\ \(12\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 5px solid #f79c00;
    border-bottom: 5px solid #f79c00;
}

.partners {
    gap: 60px;
    padding: 65px 0;
}

.partners-slider {
    width: 777px;
}

/* END PARTNERS WRAPPER */

/* LAW SERVICES WRAPPER */
.law-services-wrapper {
    background: #fff;
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.law-services {
    gap: 50px;
    padding: 60px 0;
}

/* END LAW SERVICES WRAPPER */

/* SUCCESSFUL WORKS */
.successful-work-wrapper {
    background-image: url(./img/download\ \(12\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 5px solid #f79c00;
    border-bottom: 5px solid #f79c00;
}

.successful-work {
    padding: 65px 0;
    gap: 65px;
}

.sheets-slider {
    width: 1000px;
}

/* END SUCCESSFUL WORKS */

/* ACADEMY SERVICES */
.academy-services-wrapper {
    background: #fff;
    background-image: url(./img/output-onlinepngtools\ \(1\).png);
}

.academy-services {
    padding: 60px 0;
    gap: 65px;
}

/* END ACADEMY SERVICES */

/* RECOMMENDATIONS */
.recommendations-wrapper {
    background-image: url(./img/download\ \(12\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 5px solid #f79c00;
    border-bottom: 5px solid #f79c00;
}

.recommendations {
    padding: 65px 0;
    gap: 65px;
}


.contact-description {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-address-wrapper {
    border-top: 5px solid #f79c00;
    border-bottom: 5px solid #f79c00;
    background-image: url(./img/download\ \(2\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-bottom-address {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 190.6%;
    color: #FFFFFF;
}

.contacts-bottom-addresses {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts-bottom-title {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.contacts-bottom-address i {
    color: #fff;
    font-size: 27px;
    margin-right: 10px;
}

.contact-address {
    padding: 75px 0;
}




.main-part-and-social-media {
    display: flex;
    flex-direction: column;
}




.subscription-services-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subscription-services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 150px;
    background-color: #fff;
    margin: 30px 45px;
    border-radius: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.subscription-services-box:hover {
    transition: .9s;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px 0px;
}


.subscription-services-box img {
    width: 130px;
}



.a {
    display: flex;
    justify-content: space-between;
    width: 90%;
}



.successful-work-title-secondary span {
    font-size: 32px;
}


.top-no-border {
    border-top: none !important;
}













/* PARTNERS */
.corporate-services-wrapper {
    background-image: url(./img/download\ \(10\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 5px solid #f79c00;
    border-bottom: 5px solid #f79c00;
}

.corporate-services {
    padding: 60px 0;
    gap: 40px;
}





.reyler {
    background-image: url(./img/download\ \(14\).png) !important;
}



.what-we-are-doing-wrapper {

    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.what-we-are-doing {
    padding: 50px 0;
}

.what-we-are-doing-wrapper .box {
    margin: 20px 50px;
}

.border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* SERVICES */




#more {
    display: none;
}

#readmoreBtn {
    border: none;
    background: transparent;
}

.comment-box {
    display: flex;
    flex-direction: column;
    width: 370px !important;
    margin: 0 15px;
    background: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    background-image: url(./img/6881590.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.review-text {
    font-size: 16px;
    margin-bottom: 25px;
    color: #4e4e4e;
}

.comment-box a {
    margin-top: 10px;
    width: fit-content;
}

.more-action {
    display: flex;
    align-items: center;
}

.any-info {
    background: #f9f9f9;
    color: #4e4e4e;
    text-decoration: none;
    padding: 8px 20px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border-radius: 5px;
    user-select: none;
    font-size: 16px;
    cursor: auto;
}

.text-btn {
    background: #f9f9f9 !important;
    color: #4e4e4e !important;
    cursor: auto;
}

.text-btn:active {
    top: 0 !important;
}




#readmoreBtn:hover {
    cursor: pointer;
}

#readmoreBtn {
    display: flex;
    font-size: 16px;
    font-family: GilroyMedium;
    color: #4e4e4e;
}

.card-title {
    font-size: 20px;
    color: #4e4e4e;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.circle-for-svg img {
    height: 35px;
}

.videos iframe {
    aspect-ratio: 16/9;
    height: auto !important;
    border-radius: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    margin: 25px;
}

.videos-slider {
    width: 1484px;
}

.contact-address iframe {
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
    border-radius: 20px;
}

.profile-pic img {
    height: 35px;
    width: fit-content !important;
    box-shadow: none !important;
    width: 100%;
}

.profile-pic {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0 30px 0;
}

.comment-boxes {
    gap: 40px;
    flex-wrap: wrap;
}

.commentboxes-slider {
    width: 1200px;
}


.is-kagizzzlari img {
    width: 256px !important;
    height: 347px !important;
}



.sheet:hover {
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
}

#muqavileler-huququ {
    background-image: url(./img/football.png);
}

.view-all {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}


.profile-person-pic-wrapper {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    width: 100%;
}

.profile-person-pic {
    height: 70px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
}








.main-part-2 img {
    height: 400px;
}

.main-column-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}







.btn-bottom {
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    background: #f79c00;
    background: -webkit-linear-gradient(to right, #f68a01, #f79c00);
    background: linear-gradient(to right, #f68a01, #f79c00);
    width: fit-content;
    user-select: none;
    border-radius: 5px;
}

.main-company-name i {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 10px !important;
}

.btn-bottom:hover {
    background: #e08e00;
}

.btn-bottom:active {
    position: relative;
    top: 2px;
}



.fa-angle-down {
    margin-left: 7px;
}

.dropbtn:hover, .dropbtn:active {
    background: #f79c00;
    color: #fff;
    border-radius: 2px;
    transition: .2s;
}





.show {
    display: block !important;
}

#courses {
    background-image: url(./img/whoarewe_bg.png);
}

.courses-box {
    width: 100%;
    height: 800px;
}

.news-image-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.news-image-sequence {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.news-image-sequence-first-child {
    justify-content: space-between !important;
}

.news-text a {
    text-decoration: none;
    color: #414040;

}

.news-text a:hover {
    transition: 0.9s;
    text-decoration: underline;
}

.news-image-sequence:last-child {
    justify-content: center;
}

.news-column-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 90%;
}



.news-column-image {
    width: 100%;
    height: 530px;
    object-fit: cover;
}

.news-texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 52%;
}

.news-texts:first-child {
    text-indent: 30px;
}

.news-text {
    color: #4e4e4e;
    font-size: 20px;
    font-family: GilroyUltraLight;
    line-height: 190.6%;
    text-align: justify;
}

.news-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px 0;
}


.news-image {
    height: 560px;
    aspect-ratio: 55/37;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
    border-radius: 20px;
    object-fit: cover;
    user-select: none;
}


.news-main-image {
    height: 530px;
    aspect-ratio: 55/37;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
    border-radius: 20px;
    object-fit: cover;
    user-select: none;
}

.news-title {
    font-size: 26px;
    color: #4e4e4e;
    font-family: GilroyUltraLight;
}

.box-slider, .publications-slider {
    width: 1700px;
}

.news-page-wrapper {
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}





.mainservicesinfo-slider .slick-prev::before,
.videos-slider .slick-prev::before,
.box-slider .slick-prev::before,
.lessons-slider .slick-prev::before {
    content: url(./img/prev-button.png);
}

.mainservicesinfo-slider .slick-next::before,
.videos-slider .slick-next::before,
.box-slider .slick-next::before,
.lessons-slider .slick-next::before {
    content: url(./img/next-button.png);
}

.mainservicesinfo-slider .slick-prev,
.videos-slider .slick-prev,
.box-slider .slick-prev,
.lessons-slider .slick-prev {
    width: auto !important;
    height: auto !important;
    left: -45px;
}


.mainservicesinfo-slider .slick-next,
.videos-slider .slick-next,
.box-slider .slick-next,
.lessons-slider .slick-next {
    width: auto !important;
    height: auto !important;
    right: -45px;
}

.slick-next::before {
    opacity: 1 !important;
}

.slick-prev::before {
    opacity: 1 !important;
}









.box {
    display: flex;
    flex-direction: column;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    border-radius: 20px;
    width: 360px;
    margin: 30px;
}

.box:hover {
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
}


.box-title {
    font-size: 16px;
    color: #4e4e4e;
    font-family: GilroySemiBold;
    width: 87%;
    text-align: center;
}




.box-foot-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    background: #fff;
    border-radius: 0 0 20px 20px;
    background-image: url(./img/output-onlinepngtools.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.is-kagizzzlari {
    align-items: center;
}


.box-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    gap: 20px;
}








.partners-title {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}





.page-main-area {
    gap: 40px;
    padding: 65px 0;
}

.sheet {
    width: 239px;
    height: 337px;
    object-fit: cover;
    margin: 0 15px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}



.videos-sequnce {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boxes-row {
    display: flex;
    flex-wrap: wrap;
}

.publications_slider {
    width: 800px;
}


.button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}




.box img {
    width: 100%;
    object-fit: cover;
    height: 220px;
    border-radius: 20px 20px 0 0;
    user-select: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    color: #fff;
    background: #f79c00;
}




.slide-content {
    background-image: url(./img/bg_uzor.png);
}

.middle-part {
    height: 2000px;
}


.footer-wrapper {
    background: #f2f2f2;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px 0;
}

.goverment-agencies-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.subscription-services-wrapper {
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.government-agencies {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    user-select: none;
}

.e-qanun {
    width: 150px;
}

.government-agencies-image {
    height: 70px;
}

.slick-disabled {
    display: none !important;
}

.milli-meclis {
    width: 160px;
}

.author {
    color: #4e4e4e;
    font-size: 16px;
    text-decoration: none;
}

.author span:hover {
    color: #000;
    transition: 0.2s;
}

.footer-page-direction {
    width: fit-content;
    text-decoration: none;
    color: #4e4e4e;
}

.news-text span {
    font-family: GilroyMedium;
}

.footer-page-direction:hover {
    color: #000;
    transition: 0.1s;
}

.fa-circle {
    color: #f79c00;
    font-size: 7px;
    margin-right: 15px;
    vertical-align: middle;
}

.fa-minus, .fa-check {
    color: #f79c00;
    margin-right: 15px;
}

.text-circle {
    position: relative;
    top: 16px;
}


.pages-wrapper {
    display: flex;
    width: 100%;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.pages-separately {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    width: 25%;
}

.page-section-active {
    margin-top: 15px;
}

.page-section {
    display: flex;
    align-items: center;
}



.copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
}

.copyright-text {
    user-select: none;
    color: #4e4e4e;
    font-size: 16px;
}


/* GO TO TOP */




.iii {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: #f79c00;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    margin-left: 15px;
}

#go-to-top {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 20000;
    font-size: 18px;
    border: none;
    outline: none;
    background: #f79c00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f68a01, #f79c00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f68a01, #f79c00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#go-to-top:hover {
    background: #e08e00;
}

.fa-bars, .fa-xmark {
    font-size: 22.5px;
    cursor: pointer;
}

.diller a {
    font-size: 20px !important;
    color: #4e4e4e;
    width: 30px;
    height: 20px;
    padding: 0;
    user-select: none;
}




.verified-company-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.diller a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.diller {
    display: flex;
    width: 125px;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.navbar-2-wrapper {
    height: 400px;
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: none;
}

.active {
    display: flex;
}


.qalanlari button, a {
    user-select: none;
}





.navbar-2 {
    display: flex;
    flex-direction: column;
}

.qalanlari {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#whatsapp {
    display: none;
    position: fixed;
    bottom: 72px;
    right: 30px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    transform: scale(1.1);
    z-index: 20000;
}

#whatsapp img {
    width: 100%;
    height: 100%;
}


#tax-services {
    height: 1565px;
    gap: 85px;
}

/* WHO WE ARE / PAGES */
.page-title-area-wrapper {
    flex-direction: column;
    height: 172.5px;
    background-image: url(./img/download\ \(10\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid #f79c00;
}

.page-title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 55%;
}

.page-title {
    font-size: 45px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.page-direction {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-direction a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.page-direction i {
    margin: 0 7px;
    color: #fff;
    font-size: 12px;
}

.page-direction p {
    color: #fff;
    font-size: 20px;
}

.page-direction a:hover {
    color: #ddd;
}

.row-reverse {
    flex-direction: row-reverse;
}


.whyamade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    background: #fff;
}

.what-are-we-doing-wrapper {
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.what-are-we-doing {
    padding: 70px;
}

.what-are-we-doing-info {
    display: flex;
}

.what-are-we-doing a {
    width: 371px;
    height: 202px;
}

/* items */



/* .items .slick-prev {
   background-color: #e08e00;
}

.items .slick-next {
    background-color: #e08e00;
} */

/* .mainservicesinfo-slider .slick-prev, .mainservicesinfo-slider .slick-next {
    display: none !important;
} */






.main-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 202px;
    background: #fff;
    background-image: url(./img/output-onlinepngtools.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px; */
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 22px;
    text-decoration: none;
    border-radius: 25px;
}

.main-info-wrapper:hover {
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
}

.slick-initialized .slick-slide {
    display: flex;
}

.main-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.circle-for-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #f79c00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f68a01, #f79c00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f68a01, #f79c00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.7s;
    margin-right: 30px;
}

.circle-for-svg svg {
    font-size: 50px;
    fill: #fff;
    user-select: none;
}

.main-services-info-logo {
    height: 40px;
    fill: #fff;
    user-select: none;
}

.div:hover {
    transform: scale(1.1);
}

.preference-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: GilroySemiBold;
    font-size: 16px;
    color: rgb(78, 78, 78);
}

.course-register {
    width: 750px;
    height: 380px;

}

.course-name {
    margin-right: 10px;
}

.mb-20 {
    display: flex;
    flex-direction: column;
}


.law-services-section {
    gap: 65px;
}

.rabite-bank {
    height: 40px;
}

.abouuuuut {
    display: flex;

}

.mb-20 h1 {
    color: #4e4e4e;
    font-size: 20px;
    font-family: GilroyUltraLight;
    line-height: 190.6%;
    text-align: justify;
}

.training-main-info {
    color: #4e4e4e;
    font-size: 22.5px;
    font-family: GilroyUltraLight;
    line-height: 190.6%;
    text-align: justify;
    margin-bottom: 10px;
}

.space-between {
    width: 1125px;
    justify-content: space-between !important;
}

.fit-content {
    width: fit-content !important;
}

/* AAAAAA */

.contact-us-wrapper {
    background-image: url(./img/book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-us {
    padding: 60px 0;
    gap: 40px;
}

.contact-us-title-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.progress-ring-value {
    display: flex;
    align-items: center;
    gap: 12.5px;
}




.publications-section-wrapper {
    background-image: url(./img/6881590.jpg);
}






.description-text .fa-check {
    margin-right: 30px;
}

.fa-minus, .fa-check {
    color: #f79c00;
}





.publications-section p {
    cursor: auto !important;
}


.publications-section {
    padding: 60px 0;
    gap: 30px;
}



.partners-comment {
    padding: 65px 0;
    gap: 65px;
}

.videos-wrapper {
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.videos {
    padding: 60px 0;
    gap: 40px;
}

.comment-wrapper {
    border-bottom: 5px solid #f79c00;
    border-top: 5px solid #f79c00;
    background-repeat: no-repeat;
    background-size: cover;
}

.partners-comment-wrapper {
    background-image: url(./img/download\ \(14\).png);
}

.customers-comment-wrapper {
    background-image: url(./img/download\ \(20\).png);
}

.faiz span {
    color: #fff;
    font-size: 60px;
}


.form-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.contact-us-title {
    font-size: 35px;
    color: #4e4e4e;
    font-family: GilroySemiBold;
}

.contact-us-left-right {
    display: flex;
    width: 100%;
    gap: 50px;
}

.contact-us-left {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 17px;
}

.contact-us-left-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 270px;
}

.contact-us-right-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 270px;
}



.contact-us-right {
    display: flex;
    flex-direction: column;

    gap: 17px;
}

.star {
    color: #f79c00;
}


label {
    display: flex;
    width: fit-content;
    gap: 2px;
    color: #000;
}

address {
    font-style: normal;
}

.form-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.form-control {
    padding: 15px 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    width: 430px;
    font-size: 16px;
    font-family: GilroyMedium;
}

.course-direction {
    display: flex;
    flex-direction: column;
}

.course-word {
    padding: 10px 15px;
    width: 100% !important;
    background: #f79c00 !important;
    text-decoration: none;
    color: #fff !important;
    border: none !important;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.can-form {
    gap: 0 !important;
}

.course-names {
    display: flex;
    flex-direction: column;

}

.course-word:hover {
    background: #e08e00 !important;
}

.last-course-list {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}



.list-course {
    padding: 18px 15px;
    width: 375px;
    background: #fff;
    text-decoration: none;
    color: #4e4e4e;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.list-course:hover {
    background: #f6f6f6;
}


.form-control:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}

textarea:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}

.text-area {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    resize: none;
    padding: 6px 11px;
    font-size: 16px;
    font-family: GilroyMedium;
    height: 150px;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}



.form-control:focus {
    border: 1px solid #f79c00;
}

.text-area:focus {
    border: 1px solid #f79c00;
}

.btn-primary {
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    background: #f79c00;
    width: fit-content;
    user-select: none;
    font-family: GilroyMedium;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.can-form input {
    width: 600px;
}

.btn-primary:hover {
    background: #e08e00;
    transition: 0.2s;
}

.btn-primary:active {
    position: relative;
    top: 2px;
}

/* .slick-prev:before, .slick-next:before {
    color: #f79c00;
    font-size: 25px;
}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
} */

/* .slick-prev, .slick-next {
    display: none !important;
} */

.location-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background: #ac7e21;
    background-image: url(./img/download\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 25% 0 0 0; */
    border-top: 5px solid #f79c00;
    border-bottom: 5px solid #f79c00;

}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 50%;
}

.location-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.contacts-bottom-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icon-and-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-and-info i {
    font-size: 35px;
    color: #fff;
}

.contacts-bottom-title {
    font-size: 48px;
    color: #fff;
    font-family: GilroySemiBold;


}

.contacts-bottom-address {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.contacts-bottom-address:hover {
    color: #eee;
}

.contacts-bottom-phone {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.contacts-bottom-email {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}


.corporate-slider {
    width: 1300px !important;
}




.partners-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    height: 110px;
    border-radius: 20px;
    background-image: url(./img/6881590.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.partners-link img {
    width: 85px;
}



#main-page-content {
    height: fit-content;
}

#main-course-main {
    padding: 60px 0;
    gap: 65px;
}


.card img {
    height: 300px;
}

.sb-svg {
    width: 69px !important;
}




/* advanced */
.grayscale {
    color: #4e4e4e;
}

.white {
    color: #fff;
}

.textshadow {
    text-shadow: 2px 2px 2px #000;
}


#is-esas {
    color: #fff;
}

#is-secondary {
    color: #fff;
    text-align: center;
}





.services-boxes-row {
    display: flex;
    justify-content: center;
}




#employees {
    background-image: url(./img/Y0US5W.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.services-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.card i {
    font-size: 69px;

    color: #f79c00;
}





.card:hover {
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
}

#services-box-id {
    width: 740px;
}






#services-title-id {
    text-align: center;
    font-size: 30px;
}





/* biz kimikde orta sahe */

.page-main-area-wrapper {
    flex-direction: column;
    background: #fff;
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#course-main-content {
    height: 1010px;
}


#course-main {
    gap: 100px;
}

.who-are-we-main {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 60px 0;
}









.course-mission-content p {
    color: #4e4e4e;
    font-size: 16px;
}

.successful-work-title {
    text-align: center;
}




.texts-description h1 {
    color: #4e4e4e;
    font-size: 20px;
    font-family: GilroyUltraLight;
    line-height: 190.6%;
    text-align: justify;
}

.text-1 {
    display: flex;
    align-items: center;
}

#biz-kimik-sekil-yazi-id {
    flex-direction: row-reverse;
}

.page-1-cover {
    display: flex;
    align-items: center;
}

#publications {
    background-image: url(./img/whoarewe_bg.png);
}


/* START TIME */

#time-now {
    color: #4e4e4e;
}


.publications-wrapper {
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fa-clock {
    margin-right: 7px;
}

.publications {
    padding: 70px 0;
    gap: 35px;
}


.publications-card-content:hover {
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
}

.publications-card-content {
    display: flex;
    width: 1100px;
    height: 235px;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 20px;
    background-image: url(./img/6881590.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.publication-image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25.5%;
    height: 100%;
    user-select: none;
}

.publication-description {
    font-size: 16px;
    color: #4e4e4e;
    line-height: 22px;
    text-align: justify;
}

.publications-card {
    display: flex;
    align-items: center;
    gap: 25px;

}

.publication-image {
    width: 220px;
    height: 170px;
    object-fit: cover;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
    border-radius: 15px;
}

.publication-description-download {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    width: 815px;
}

.author-of-the-publication {
    font-size: 14px;
    color: rgb(78, 78, 78);
}

.download-upload-time {
    display: flex;
    gap: 15px;
}

.publication-title {
    font-size: 19px;
    color: #4e4e4e;
    font-family: GilroySemiBold;
}

.download-count-content, .file-size-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.download-count, .file-size, .upload-time {
    font-size: 14px;
    color: #4e4e4e;
}

.last-row i {
    font-size: 13px;
    color: #4e4e4e;
}

.last-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.download-button {
    padding: 7px 20px;
    text-decoration: none;
    color: #fff;
    background: #f79c00;
    width: fit-content;
    user-select: none;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.download-button:active {
    position: relative;
    top: 2px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.page-number {
    padding: 5px 14px;
    color: #4e4e4e;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-decoration: none;
    background: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.page-number:hover {
    color: #fff;
    background: #f79c00;
    transition: .2s;
}

.page-number:active {
    position: relative;
    top: 2px;
}

.pagination-content {
    display: flex;
    width: 92.5%;
}

.employees-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 830px;
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.employees {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 75%;

}

.employees-cards {
    display: flex;
    width: 82.5%;
    justify-content: space-between;
}

.staff-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 320px;
    background: #fff;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    border-radius: 20px;

}

.staff-card-wrapper:hover {
    cursor: pointer;
}





.staff-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 0;
}


.staff-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.staff-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-title {
    font-size: 16px;
    font-family: GilroySemiBold;
    color: #4e4e4e;
}

.staff-job {
    font-size: 14px;
    color: #777;
    text-align: center;
    margin-top: 5px;
}

.download-button:hover {
    background: #e08e00;
}



/* KEYFRAME */










.page-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    display: none;
}

.page-loader img {
    width: 300px;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




.adi-divdir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}




/* SPINNER ANIMATION */
.spinner {
    position: relative;
    top: 35%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #fff;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/* DROPPP */
.bg {
    background-image: url(./img/download\ \(9\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid #f79c00;
    border-top: 5px solid #f79c00;
}

.staff-slider {
    width: 1200px;
}

.emploees-wrapper {
    background-image: url(./img/download\ \(18\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 5px solid #f79c00;
    border-bottom: 5px solid #f79c00;
}

.amadenews-wrapper {
    background-image: url(./img/6881590.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.law-news-wrapper {
    background-image: url(./img/6881590.jpg);
}

.law-news {
    padding: 60px 0;
    gap: 40px;
}

.amadenews {
    padding: 60px 0;
    gap: 40px;
}

.fa-user, .fa-calendar {
    margin-right: 7.5px;
}



.emploees-content {
    padding: 65px 0;
    gap: 65px;
}

.emploees-content .staff-card-wrapper {
    margin: 0 25px;
    background-image: url(./img/6881590.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.employees_slider {
    width: 1200px;
}

iframe {
    user-select: none !important;
}